# Mac
.DS_Store

# Kubernetes
k8s/secrets.yml

# build
gateway-api/gateway-api
inventory-service/inventory-service
product-service/product-service
user-service/user-service
order-service/order-service
