apiVersion: v1
kind: Secret
metadata:
  name: secrets
type: opaque
stringData:
  ######################### GATEWAY API #####################################
  GATEWAY_API_HTTP_ADRR:
  GATEWAY_API_USER_SERVICE_GRPC_ADDR: 

  ######################### USER SERVICE #####################################
  USER_SERVICE_GRPC_ADDR:
  USER_SERVICE_DATABASE_NAME: 
  USER_SERVICE_DATABASE_COLLECTION: 