apiVersion: v1
kind: Secret
metadata:
  name: secrets
type: opaque
stringData:
  ######################### DATABASE #####################################
  DB_CONNECTION_LINK: string

  ######################### GATEWAY API #####################################
  GATEWAY_API_HTTP_ADRR: string
  GATEWAY_API_USER_SERVICE_GRPC_ADDR: string
  GATEWAY_API_PRODUCT_SERVICE_GRPC_ADDR: string
  GATEWAY_API_CART_SERVICE_GRPC_ADDR: string

  ######################### USER SERVICE #####################################
  USER_SERVICE_GRPC_ADDR: string
  USER_SERVICE_DATABASE_NAME: string
  USER_SERVICE_DATABASE_COLLECTION: string

  ######################### PRODUCT SERVICE #####################################
  PRODUCT_SERVICE_GRPC_ADDR: string
  PRODUCT_SERVICE_DATABASE_NAME: string
  PRODUCT_SERVICE_DATABASE_COLLECTION: string

  ######################### CART SERVICE #####################################
  CART_SERVICE_GRPC_ADDR: string
  CART_SERVICE_DATABASE_NAME: string
  CART_SERVICE_DATABASE_COLLECTION: string
